@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Creepster&family=Great+Vibes&family=Orbitron:wght@900&family=Permanent+Marker&family=Press+Start+2P&family=Righteous&family=Rubik+Bubbles&family=Rubik+Glitch&family=Nosifer&family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
